{% extends "richtemplates/accounts/profile.html" %}

{% load i18n %}

{% block col_main_title %}{% trans "User profile" %}{% endblock %}
{% block col_main_content %}
    <form action="." method="post">
        {% csrf_token %}
        <table class="form-table">
            {% include "richtemplates/forms/form.html" %}
        </table>
        <div>
            <input id="id_submit" class="button" type="submit" name="submit" value="Update" />
            <input class="button" type="button" name="submit" value="Back to profile"
                    onclick="window.location='{{ form.instance.user.get_absolute_url }}'"/>
        </div>
    </form>
{% endblock %}

