Djalog==0.9.2.stable
http://www.djangoproject.com/download/1.2-beta-1/tarball/
django-filter==0.5.2
django-pagination==1.0.5
django-registration==0.7
django-rosetta==0.5.3
-e git://github.com/lukaszb/django-sorting.git#egg=django-sorting
docutils==0.6
Pygments==1.3
