Django==1.2
Djalog==0.9.4
django-filter
django-pagination==1.0.7
django-registration==0.7
django-admin-tools==0.2.0
django-annoying
-e git://github.com/lukaszb/django-sorting.git#egg=django-sorting
docutils==0.6
Pygments==1.3.1
