Djalog==0.9.3
http://www.djangoproject.com/download/1.2-beta-1/tarball/
django-filter
django-pagination==1.0.5
django-registration==0.7
django-admin-tools
django-annoying
-e git://github.com/lukaszb/django-sorting.git#egg=django-sorting
docutils==0.6
Pygments==1.3
