include LICENSE
include MANIFEST.in
include README
include INSTALL.rst
recursive-include richtemplates/templates *.html
recursive-include richtemplates/templates_profiles *.html
recursive-include richtemplates/media/css *.css
recursive-include richtemplates/media/js *.js
recursive-include richtemplates/media/img *.jpg
recursive-include richtemplates/media/img *.png
recursive-include richtemplates/media/img *.gif
