{% extends "examples/base.html" %}

{% load native %}

{% block extra-head %}{{ block.super }}
<script type="text/javascript" src="{{ RICHTEMPLATES_MEDIA_URL }}/js/swfobject.js"></script>
<script type="text/javascript">
    swfobject.embedSWF(
      "{{ RICHTEMPLATES_MEDIA_URL }}swf/open-flash-chart.swf", "id_chart",
      "700", "400", "9.0.0", "{{ RICHTEMPLATES_MEDIA_URL }}swf/expressInstall.swf",
      {"data-file":"{% url examples.views.charts.bars_data %}"} );
</script>
{% endblock %}

{% block col-main-title %}{{ title }}{% endblock %}
{% block col-main-content %}

<p>We use <a href="http://btbytes.github.com/pyofc2/">pyofc2</a> for displaying charts.</p>

<div id="id_chart"></div>

{% endblock %}

