{% extends "examples/base.html" %}

{% load native %}

{% block extra-head %}{{ block.super }}
    {{ form.media }}
    {% autocomplete_field form.username delay=0 %}
{% endblock %}

{% block col-main-title %}Contact form{% endblock %}
{% block col-main-content %}

<style>
    #id_content_preview {
        clear: both;
        border: 1px solid #3C769D;
        min-height: 20px;
        margin-left: 20px;
        padding: 5px;
    }
    div.ReST {
        margin-left: 20px;
    }
    div.markItUp {
        border: 0;
    }
    .markItUpContainer textarea {
        float: none !important;
        max-width: none !important;
        padding-bottom: 5px;
        margin-left: 0 !important;
    }
</style>
<form action="." method="post">
    {% csrf_token %}
    <table class="form-table">
        {% include "richtemplates/forms/form.html" %}
    </table>
    <div>
        <input id="id_submit" class="richbutton" type="submit" name="submit" value="Submit"/>
    </div>
</form>

{% endblock %}

