{% extends "examples/base.html" %}

{% load native %}

{% block extra-head %}{{ block.super }}
{{ form.media }}

{% endblock %}

{% block col-main-title %}Multiple choices form{% endblock %}
{% block col-main-content %}

<form id="multiplechoices-form" action="." method="post">
    {% csrf_token %}
    <table class="form-table">
        {% include "richtemplates/forms/form.html" %}
    </table>
    <div>
        <input id="id_submit" class="richbutton" type="submit" name="submit" value="Submit"/>
    </div>
</form>

<p><a href="#html-code" class="button-link togglable max-rounded">View html source</a></p>

<div id="html-code" class="hidden codeblock">
{% highlight_block html+django cssclass="code-highlight" linenos=true %}
{% templatetag openblock %} block extra-head {% templatetag closeblock %}
    {% templatetag openvariable %} form.media {% templatetag closevariable %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block col-main-content {% templatetag closeblock %}
<form id="multiplechoices-form" action="." method="post">
    {% templatetag openblock %} csrf_token {% templatetag closeblock %}
    <table class="form-table">
        {% templatetag openblock %} include "richtemplates/forms/form.html" {% templatetag closeblock %}
    </table>
    <div>
        <input id="id_submit" class="richbutton" type="submit" name="submit" value="Submit"/>
    </div>
</form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% endhighlight_block %}
</div>

<p><a href="#python-code" class="button-link togglable max-rounded">View python source</a></p>

<div id="python-code" class="hidden codeblock">
{% highlight_block python cssclass="code-highlight" linenos=true %}
from django import forms
from richtemplates.widgets import RichCheckboxSelectMultiple

def unslugify(value):
    return value.replace('_', ' ').replace('-', ' ').capitalize()

class MultipleChoicesForm(forms.Form):
    CHOICES = ((key, unslugify(key)) for key in (
        ('view_project'),
        ('edit_project'),
        ('add_project'),
        ('delete_project'),
        ('view_task'),
        ('edit_task'),
        ('add_task'),
        ('delete_task'),
        ('view_user'),
        ('edit_user'),
        ('add_user'),
        ('delete_user'),
        ('view_group'),
        ('edit_group'),
        ('add_group'),
        ('delete_group'),
    ))
    fake_permissions = forms.MultipleChoiceField(choices=CHOICES,
        initial = ['view_project', 'edit_project', 'add_task', 'delete_task'],
        required = False,
        widget = RichCheckboxSelectMultiple)
{% endhighlight_block %}
</div>


{% endblock %}


