<tr id="{{ field.auto_id }}_tr" class="field{% if field.errors %} errors invalid{% endif %}">
    <th id="{{ field.auto_id }}_th"{% if field.errors %} class="invalid"{% endif %}>
        {{ field.label_tag }}
    </th>
    <td id="{{ field.auto_id }}_td">
        {{ field }}
        
        {% if field.field.required  %}<span class="required">*</span>{% endif %}
        {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li class="message message-error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {#{ field.errors }#}
        {% if field.help_text %}<span class="help-text"> {{ field.help_text }}</span>{% endif %}
    </td>
</tr>
