{% extends "richtemplates/layout/menu_top.html" %}

{% block menu_top_left %}
<li><a href="{% url richtemplates_examples_home %}">Home</a></li>
<li><a href="{% url richtemplates_examples_task_list %}">Project management</a></li>
{% endblock %}

{% block menu_top_right %}
    <li>User: {{ user }}</li>
    <li>
        {% if user.is_authenticated %}
        <a href="{% url auth_logout %}">Log out</a>
        {% else %}
        <a href="{% url auth_login %}">Log in</a>
        {% endif %}
    </li>
    {% if user.is_staff %}
        <li><a href="/admin/">Admin</a> |</li>
    {% endif %}
{% endblock %}

