div.codeblock {
    overflow: auto;
    padding: 0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 100%;
    line-height: 100%;
    /* new */
    line-height: 125%;
}

.code-highlight {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #ccc;
}
.code-highlight pre, .linenodiv pre { 
	padding: 5px;
    margin: 0;
}
.linenos a { text-decoration: none; }

.code { display: block; }
.code-highlight .hll { background-color: #49483e }
.code-highlight  { background: #272822; color: #f8f8f2 }
.code-highlight .c { color: #75715e } /* Comment */
.code-highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.code-highlight .k { color: #66d9ef } /* Keyword */
.code-highlight .l { color: #ae81ff } /* Literal */
.code-highlight .n { color: #f8f8f2 } /* Name */
.code-highlight .o { color: #f92672 } /* Operator */
.code-highlight .p { color: #f8f8f2 } /* Punctuation */
.code-highlight .cm { color: #75715e } /* Comment.Multiline */
.code-highlight .cp { color: #75715e } /* Comment.Preproc */
.code-highlight .c1 { color: #75715e } /* Comment.Single */
.code-highlight .cs { color: #75715e } /* Comment.Special */
.code-highlight .ge { font-style: italic } /* Generic.Emph */
.code-highlight .gs { font-weight: bold } /* Generic.Strong */
.code-highlight .kc { color: #66d9ef } /* Keyword.Constant */
.code-highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.code-highlight .kn { color: #f92672 } /* Keyword.Namespace */
.code-highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.code-highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.code-highlight .kt { color: #66d9ef } /* Keyword.Type */
.code-highlight .ld { color: #e6db74 } /* Literal.Date */
.code-highlight .m { color: #ae81ff } /* Literal.Number */
.code-highlight .s { color: #e6db74 } /* Literal.String */
.code-highlight .na { color: #a6e22e } /* Name.Attribute */
.code-highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.code-highlight .nc { color: #a6e22e } /* Name.Class */
.code-highlight .no { color: #66d9ef } /* Name.Constant */
.code-highlight .nd { color: #a6e22e } /* Name.Decorator */
.code-highlight .ni { color: #f8f8f2 } /* Name.Entity */
.code-highlight .ne { color: #a6e22e } /* Name.Exception */
.code-highlight .nf { color: #a6e22e } /* Name.Function */
.code-highlight .nl { color: #f8f8f2 } /* Name.Label */
.code-highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.code-highlight .nx { color: #a6e22e } /* Name.Other */
.code-highlight .py { color: #f8f8f2 } /* Name.Property */
.code-highlight .nt { color: #f92672 } /* Name.Tag */
.code-highlight .nv { color: #f8f8f2 } /* Name.Variable */
.code-highlight .ow { color: #f92672 } /* Operator.Word */
.code-highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.code-highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.code-highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.code-highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.code-highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.code-highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.code-highlight .sc { color: #e6db74 } /* Literal.String.Char */
.code-highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.code-highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.code-highlight .se { color: #ae81ff } /* Literal.String.Escape */
.code-highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.code-highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.code-highlight .sx { color: #e6db74 } /* Literal.String.Other */
.code-highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.code-highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.code-highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.code-highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.code-highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.code-highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.code-highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.code-highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

