@import url(skins/redmond/jquery-ui-1.8.custom.css);

/* BASIC */
body, div, span, dd, dt, dl, img, ul, ol, li, p,h0, h1, h2, h3, h4, legend, form, hr, fieldset {
    margin: 0;
    padding: 0;
}
html { height: 100%; background-color: #DBD4C6; }

body { font-size: 11px; font-family: Arial, sans-serif, Verdana; min-width: 900px; }
h1, h2, h3, h3 { margin-top: 10px; padding-bottom: 10px; }
p { 
    margin-bottom: 1.5em;
    margin-top: 1em;
}

hr { color: #008894; border-color: #008894; } 

pre { font-family: Bitstream Vera Sans Mono,monospace; font-size: 1.3em; line-height: 1.3em; }

a:active,a:link,a:visited { color: #00709F; }
a:hover { color: #000; }

a.block-link { display: block; }
a.addlink {
	background:transparent url(../img/icons/icon_addlink.gif) no-repeat scroll 0 50%;
	padding-left:14px;
}
a.deletelink {
	background:transparent url(../img/icons/icon_deletelink.gif) no-repeat scroll 0 50%;
	padding-left:14px;
}
a.button-link {
    background: #4477AA url(../img/aqua-button-link.png) repeat-x;
    color: #FFF;
    border: 1px solid #00AEB4;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    margin: 2px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}
a.button-link:hover {
    background: #008894 url(../img/aqua-button-link-hovered.png) repeat-x;;
    border-color: #153E7E;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
a.max-rounded {
    border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px;
}
a.max-rounded:hover {
    border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px;
}

label {font-weight: bold;}
hr { color: #008894; margin-bottom: 10px; }

input {
	border: 1px solid #4477AA;
	background: #F0F8FF;
	color: black;
}
textarea { background: #F0F8FF; }

input[type='submit'],input[type='button'] {
    background: #4477AA url(../img/aqua-button-link.png) repeat-x;
	color: white;
	margin: 5px;
	border-color: #153E7E;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
input[type='submit']:hover,input[type='button']:hover {
    background: #008894 url(../img/aqua-button-link-hovered.png) repeat-x;;
    cursor: pointer;
    border-color: #153E7E;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}

input.disabled { background: #E8E8E8; }

/* Simple classes */
.centered { text-align: center; }
.lefted { text-align: left; }
.righted { text-align: right; }
.bolded { font-weight: bold; }
.hidden { display: none; }


/* BODY-LAYOUT */

#body-content { width: 99%; margin: 0 auto; margin-top: 10px; }

#message_box {width: 400px; margin-bottom: 20px;}

#col_single { width: 90%; min-height: 500px; margin: 0 auto; }
#col_single p { margin-bottom: 5px; }

#col_left { width: 20%; max-width: 300px; margin-right: 10px; float: left; }
#col_main {width: 78%; min-width: 75%; min-height: 500px; float: right; }

#top {
    background-color: #FFF;
    border-bottom: 1px solid #000;
}

/* MENU-TOP */
.menu-top {
    width: 100%;
    height: 22px;
    background: #008894 url(../img/aqua-button-link-hovered.png) repeat-x top left;
    font: bold 11px Arial, Verdana, sans-serif;
    color: #fff;
    white-space: nowrap;
    clear: both;
    padding: 0;
    margin: 0 0 0px 0;
}
.menu-top a { color: #fff; }
.menu-top a:hover { color: #FFF; text-decoration: none; border-bottom: 2px solid #fff; }

.menu-top-submenu {
    width: 100%;
    height: 22px;
    background-color: #C2EBEE;
    border-bottom: 1px solid #000;
    font: bold 11px Arial, Verdana, sans-serif;
    color: #fff;
    white-space: nowrap;
    clear: both;
    padding: 0;
    margin: 0 0 10px 0;
}
.menu-top-submenu a:hover { color: #000; }
ul.menu-top-left { margin: 0; list-style: none; padding: 2px 10px 2px 10px; }
ul.menu-top-left li { float: left; padding: 0; margin: 0 10px 0 0; }
ul.menu-top-right { margin: 0; list-style: none; padding: 2px 10px 2px 10px; }
ul.menu-top-right li { float: right; padding: 0; margin: 0 10px 0 0; }

/* FOOTER */
#footer {
	clear: both;
	text-align: center;
	font-size: 9px;
	padding: 10px 5px 5px 5px;
    border-top: 1px solid #666;
	color: #666;
	margin: 20px auto 50px;
	width: 50%;
}


/* NAVIGATION LISTs */
.nav-vertical { list-style: none; margin: 10px 0 10px; padding: 0; }
.nav-vertical li { padding-bottom: 5px; margin-top: 3px; }
.nav-inline { list-style: none; margin: 10px 0 10px 5px; padding: 0; }
.nav-inline li { display: inline; margin-right: 10px; }
/* RICHTEMPLATES PANELS */
    
.richtemplates-panel {
	margin: 0 10px 20px 0;
	border: 1px solid #008894;
	background-color: #FFF;
	padding: 1px;
	color: rgb(97, 97, 97);
	vertical-align: top;
    min-width: 230px;
    -webkit-box-shadow: #AAA 0px 0px 10px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}
.richtemplates-panel table { vertical-align: top; }
.richtemplates-panel div { vertical-align: top; }

div.richtemplates-panel h5{
	font: bold 1em Arial, Verdana, sans-serif;
	border: 1px solid #008894;
	height: 20px;
	background: #008894 url(../img/aqua-gradient-big.png) repeat-x top left;
	color: #FFF;
	font: bold 11px Arial, Verdana, sans-serif;
	padding: 3px 5px 1px 5px;
	margin: 0;
}
.richtemplates-panel-content {
	padding: 5px;
	margin: 0;
}

.form-block {
	border: 1px solid #999;
	border-bottom: none;
	padding: 5px;
}
.form-block-last {
	border-bottom: 1px solid #999;
}

/* TABLES-FORMS */

table { font-size: 11px; border-collapse: collapse; border-spacing: 0; }
table th { color: #000; }

table.formset { border: 1px solid #999; margin-bottom: 5px; padding: 5px; }

table.form-table .shorter { min-width: 150px; max-width: 250px; }
table.form-table input[type=text] { max-width: 250px; min-width: 250px; }
table.form-table input { float: left; margin-left: 20px; }
table.form-table table { float: left; margin-left: 20px; }
table.form-table select { float: left; margin-left: 20px; max-width: 250px; min-width: 250px; }
table.form-table textarea { float: left; margin-left: 20px; max-width: 600px; min-width: 250px; }
table.form-table label { float: right; margin-right: 5px; }
table.form-table input { float: left; margin-right: 5px; }
table.form-table span.help-text { float: left; margin-left: 20px; margin-right: 5px; clear: both; max-width: 600px }
table.form-table tbody tr td input[disabled=disabled] { background-color: #DDD; }
table.form-table th, table.form-table td { vertical-align: top; }
table.form-table td ul {
    padding-left: 0px;
    margin: 0;
    list-style-type: none;
    /*list-style: none;*/
}
table.form-table td ul li label { float: left; margin: 0; padding: 0; clear: both; }
table.form-table td ul li { padding: 0px;}
table.form-table td ul.errorlist li { padding: 7px 5px 5px 25px;}
table.form-table tbody tr.ui-selected td { background: #ffc; }

table.filterform-table { font-size: 11px; white-space: nowrap; }
table.filterform-table th { font-weight: bold; text-align: right;}
table.filterform-table td { padding: 5px; text-align: left; }
table.filterform-table span { margin-left: 20px; }
table.filterform-table span.help-text { font-size: 9px; }
table.filterform-table span.errors { margin-left: 0; }
table.filterform-table input { float: left; margin-left: 20px; max-width: 100px; min-width: 100px; }
table.filterform-table select { float: left; margin-left: 20px; max-width: 100px; min-width: 100px; }
table.filterform-table textarea { float: left; margin-left: 20px; max-width: 100px; min-width: 100px; }

table.datatable { border: 1px solid #999; width: 100%; white-space: nowrap; }
table.datatable caption { font-size: 1.5em; font-weight: bold; color: #0D5798 }
table.datatable a:active, table.datatable a:link, table.datatable a:visited { color: #002b6e; }
table.datatable a:hover { color: #0d5798; }
table.datatable input { float: left; margin-left: 20px; max-width: 75px; min-width: 75px; }
table.datatable th, table.datatable td { border: 1px solid #999; padding: 3px 5px; }
tr.datatable-thead-header th {
	color: #FFF;
	font-weight: bold;
	background: #C2EBEE url(../img/aqua-gradient-big.png) repeat-x top left;
}
tr.datatable-thead-subheader th { background-color: #C2EBEE; }
table.datatable th { background-color: #C2EBEE; }
tbody.datatable-tbody td { background-color: #FFF; }
table.datatable tbody tr:hover { color: #000; background: #ffc !important }
table.datatable tbody tr:hover td { color: #000; background: #ffc !important }
table.datatable tbody tr.ui-selected td { background: #ffc; }
 
tr.odd td { background-color: #FFF; }
tr.even td { background-color: #EFE; }
tr.highlight td { background-color: #C2EBEE; color: #000;}
tr.inactive td { background-color: #FFB2AA; }


/* Adds */
td.messages-field { text-align: left; }

/* MESSAGES & ERRORS */
ul.messages {
    list-style: none;
    padding: 0;
}
ul.messages li.message, .message p {
    padding: 6px 10px 8px 10px;
    padding-left: 25px;
    -webkit-box-shadow: #AAA 0px 0px 10px;    
}
.message {
    margin: 5px 0 5px 0;
    border: 1px solid;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.message-debug {
    color: #005898;
    border-color: #9fd1f5;
    background: #c3e6ff url("../img/icons/debug.png") 4px 5px no-repeat;
}
.message-info {
    color: #005898;
    border-color: #9fd1f5;
    background: #c3e6ff url("../img/icons/info.png") 4px 5px no-repeat;
}
.message-success {
    color: #336801;
    border-color: #a6d877;
    background: #d2ecba url("../img/icons/success.png") 5px 5px no-repeat;
}
.message-warning {
    color: #6c6600;
    border-color: #d7e059;
    background: #f3f7aa url("../img/icons/warning.png") 5px 5px no-repeat;
}
.message-error {
    color: #8d0d0d;
    border-color: #f3abab;
    background: #f9c9c9 url("../img/icons/error.png") 5px 5px no-repeat;
}

ul.errorlist { list-style: none; color: #b51818; float: left; padding: 0;}
ul.errorlist li { float: left; padding: 7px 5px 5px 25px; margin: 0; }
.invalid { color: #b51818; }

.errors input { border: 1px solid #b51818; }
.errors textarea { border: 1px solid #b51818; }
.errors { font-size: 11px; font-weight: bold; color: #b51818; padding: 0px 30px; }
.required { float: left; color: #b51818; padding: 0 5px 0 2px; }


/* PAGINATOR  */
.pagination {font-size:9px; padding-top:10px; padding-bottom:10px; line-height:22px; margin:0; border-top:1px solid #ddd; }
.pagination a:link, .pagination a:visited {padding:2px 6px; border:solid 1px #ccc; background-color:white; text-decoration:none; margin: 0 1px;}
.pagination a.showall { padding:0 !important; border:none !important; }
.pagination a.showall:hover { color:#036 !important; background:transparent !important; }
.pagination .end { border-width:2px !important; margin-right:6px; }
.pagination a.this-page {padding:2px 6px; font-weight:bold; font-size:11px; vertical-align:top; border:solid 2px #aaa;}
.pagination a:hover {color:white; background-color:#C2EBEE; color:#333; border-color: #0D5798; }
.pagination a:active {background-color: #C2EBEE;}
.pagination .current {padding:2px 6px; border:solid 2px #0D5798; background-color:#C2EBEE; color:#333;}
.pagination .disabled {padding:2px 6px; border:solid 1px #ccc; background-color:white; text-decoration:none; color: #ccc;}


/* BREADCRUMBS */

.richtemplates-breadcrumbs {
	/* background:white url(/media/img/admin/nav-bg-reverse.gif) 0 0px repeat-x; */ 
	font-size: 11px;
	text-align: left;
	color: #0D5798;
	border: 1px solid #C2EBEE;
	background-color: #EFE;
	margin: 5px 0 10px 0;
	padding: 3px 0px 3px 8px;
	height: 18px;
}
.richtemplates-breadcrumbs a, .richtemplates-breadcrumbs a:visited, .richtemplates-breadcrumbs a:link {
	color: #333;
	text-decoration: none;
	margin: 0 3px 0 3px;
}
.richtemplates-breadcrumbs a:hover {
	color: #0D5798;
	text-decoration: underline;
}

.sql_block { margin: 10px; padding: 5px; border: 1px solid red; }
.sql_block span { color: red; }
.sql_block ul { list-style: none; }
.sql_block ul li { font-weight: bold; }

/* Input highligh */
input:focus, textarea:focus {
    background: #ffc;
    border: 1px solid #00CDCD;
}

a:focus {
    outline: none;
}

/**************
 * Richblocks *
 **************/

.richblock {
    background-color: #FAF8CC;
    border: 1px solid #996;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    margin: 10px 5px;
    padding: 10px 5px 10px 5px;
    -webkit-box-shadow: #AAA 0px 0px 10px;
}
.richblock h2, .richblock h3 {
    margin: 10px 5px;
    border-bottom: 1px solid #DDDD99;
}
.richblock-description {
    margin: 10px 5px;
    padding: 5px;
}

.shadowed {
    -webkit-box-shadow: #AAA 0px 0px 10px;
}
.no-shadow {
    -webkit-box-shadow: none;
}    
ul, ol { padding-left: 30px; }

table.richblock-properties {
    /*width: 100%;*/
    margin: 5px;
}
table.richblock-properties th {
    text-align: right;
    float: right;
    margin-right: 10px;
}
table.richblock-properties td, table.richblock-properties th {
    height: 1.5em;
    vertical-align: top;
}

/* Flipper classes */
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
}

/******************
 * Common classes *
 ******************/

.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.rounded-top {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.rounded-bottom {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

/* TOOLTIPS */

.qtooltip {
    display: block;
}
div.qtip-title {
    /*background-color: #c1eaed;*/
    background-color: blue;
    border-color: red;
}
div.qtip-content {
    border-color: red;
    background-color: yellow;
}
div.qtip {
    color: green;
}


.show-tooltip {display: block;}
.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:#dedede;
    padding:5px;
    border:1px solid #fff;
    width:250px;
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}

/* ***** *
 * Tipsy *
 * ***** */

.tipsy { padding: 5px;
    font-size: 1em;
    opacity: 0.85;
    filter: alpha(opacity=85);
    background-repeat: no-repeat;
    background-image: url(../img/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

.show-tipsy:hover {}
.show-tipsy-bottom:hover {}
.show-tipsy-left:hover {}
.show-tipsy-right:hover {}

/* Width classes */

.width-1 { width: 1%; }
.width-2 { width: 2%; }
.width-3 { width: 3%; }
.width-4 { width: 4%; }
.width-5 { width: 5%; }
.width-6 { width: 6%; }
.width-7 { width: 7%; }
.width-8 { width: 8%; }
.width-9 { width: 9%; }
.width-10 { width: 10%; }
.width-11 { width: 11%; }
.width-12 { width: 12%; }
.width-13 { width: 13%; }
.width-14 { width: 14%; }
.width-15 { width: 15%; }
.width-16 { width: 16%; }
.width-17 { width: 17%; }
.width-18 { width: 18%; }
.width-19 { width: 19%; }
.width-20 { width: 20%; }
.width-21 { width: 21%; }
.width-22 { width: 22%; }
.width-23 { width: 23%; }
.width-24 { width: 24%; }
.width-25 { width: 25%; }
.width-26 { width: 26%; }
.width-27 { width: 27%; }
.width-28 { width: 28%; }
.width-29 { width: 29%; }
.width-30 { width: 30%; }
.width-31 { width: 31%; }
.width-32 { width: 32%; }
.width-33 { width: 33%; }
.width-34 { width: 34%; }
.width-35 { width: 35%; }
.width-36 { width: 36%; }
.width-37 { width: 37%; }
.width-38 { width: 38%; }
.width-39 { width: 39%; }
.width-40 { width: 40%; }
.width-41 { width: 41%; }
.width-42 { width: 42%; }
.width-43 { width: 43%; }
.width-44 { width: 44%; }
.width-45 { width: 45%; }
.width-46 { width: 46%; }
.width-47 { width: 47%; }
.width-48 { width: 48%; }
.width-49 { width: 49%; }
.width-50 { width: 50%; }
.width-51 { width: 51%; }
.width-52 { width: 52%; }
.width-53 { width: 53%; }
.width-54 { width: 54%; }
.width-55 { width: 55%; }
.width-56 { width: 56%; }
.width-57 { width: 57%; }
.width-58 { width: 58%; }
.width-59 { width: 59%; }
.width-60 { width: 60%; }
.width-61 { width: 61%; }
.width-62 { width: 62%; }
.width-63 { width: 63%; }
.width-64 { width: 64%; }
.width-65 { width: 65%; }
.width-66 { width: 66%; }
.width-67 { width: 67%; }
.width-68 { width: 68%; }
.width-69 { width: 69%; }
.width-70 { width: 70%; }
.width-71 { width: 71%; }
.width-72 { width: 72%; }
.width-73 { width: 73%; }
.width-74 { width: 74%; }
.width-75 { width: 75%; }
.width-76 { width: 76%; }
.width-77 { width: 77%; }
.width-78 { width: 78%; }
.width-79 { width: 79%; }
.width-80 { width: 80%; }
.width-81 { width: 81%; }
.width-82 { width: 82%; }
.width-83 { width: 83%; }
.width-84 { width: 84%; }
.width-85 { width: 85%; }
.width-86 { width: 86%; }
.width-87 { width: 87%; }
.width-88 { width: 88%; }
.width-89 { width: 89%; }
.width-90 { width: 90%; }
.width-91 { width: 91%; }
.width-92 { width: 92%; }
.width-93 { width: 93%; }
.width-94 { width: 94%; }
.width-95 { width: 95%; }
.width-96 { width: 96%; }
.width-97 { width: 97%; }
.width-98 { width: 98%; }
.width-99 { width: 99%; }
.width-100 { width: 100%; }

.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }
.border-5 { border-width: 5px; }
.border-6 { border-width: 6px; }

.border-black { border-color: black; }
.border-gray { border-color: gray; }

.to-be-closed {
    background-image: url(../img/icons/icon_deletelink.gif);
    background-position: 5px center;
}

div.codeblock, pre.literal-block {
    overflow: auto;
    padding: 0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 100%;
    line-height: 100%;
    /* new */
    line-height: 125%;
}

pre.literal-block {
    margin-left: 20px;
    margin-right: 20px;
}

.code-highlight {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #ccc;
}
.code-highlight pre, .linenodiv pre, .annotatediv pre { 
	padding: 5px;
    margin: 0;
}
.linenodiv pre, .annotatediv pre {
    text-align: right;
}
.linenos a { text-decoration: none; }
.annotate a { text-decoration: none; }

.code { display: block; }

.codeblock tr.annotate-header {
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 0;
}
.codeblock td {
    border-right: 1px solid #ccc;
}

div.diffblock {
    overflow: auto;
    padding: 0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 100%;
    line-height: 125%;
}

div.diffblock .code-header{
    border-bottom: 1px solid #CCCCCC;
    background: #EEEEEE;
    color:blue;
    padding:10px 0 10px 0;
}
div.diffblock .code-header span{
    margin-left:25px;
    font-weight: bold;
}
div.diffblock .code-body{
    background: #EEEEEE;
}

.code-difftable{
    border-collapse: collapse;
    width: 99%;
}
.code-difftable td:target *{
    background:  repeat scroll 0 0 #FFFFBE !important;
    text-decoration: underline;
}
.code-difftable .context{
    background:none repeat scroll 0 0 #DDE7EF;
}
.code-difftable .add{
    background:none repeat scroll 0 0 #DDFFDD;
}
.code-difftable .add ins{
    background:none repeat scroll 0 0 #AAFFAA;
    text-decoration:none;
}

.code-difftable .del{
    background:none repeat scroll 0 0 #FFDDDD;
}
.code-difftable .del del{
    background:none repeat scroll 0 0 #FFAAAA;
    text-decoration:none;
}

.code-difftable .lineno{
    background:none repeat scroll 0 0 #EEEEEE !important;
    border-right:1px solid #DDDDDD;
    padding-left:2px;
    padding-right:2px;
    text-align:right;
    width:20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.code-difftable .lineno pre{
    color:#747474 !important;
    font:11px "Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace !important;
    letter-spacing:-1px;
    text-align:right;
    width:20px;
}
.code-difftable .code td{
    margin:0;
    padding: 0;
}
.code-difftable .code pre{
    margin:0;
    padding:0;
}

.code-diff {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #ccc;
}
.code-diff pre, .line pre { 
    padding: 3px;
    margin: 0;
}
.lineno a { 
    text-decoration: none; 
}

.line{
    padding:0;
    margin:0;
}
